header.mobile {
  border-bottom: 1px solid gray;
  text-align: center;
  position: inline-fixed;
}

header.desktop {
  display: none;
}

p.logo {
  font-size: 2em;
  color: $black;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
}

p.logo img {
  margin-top: 0;
  padding-top: 0;
  height: 40px;
  vertical-align: middle;
}

header a.sidebar {
  color: $black;
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 20px;
}
